<h1 class="text-center">Editar Evento</h1>

<div class="col-md-6 offset-md-3 pb-5">

    <form [formGroup]="formularioEvento" (ngSubmit)="onSubmit()"> 
        <div class="mb-3">
            <label class="form-label" for="title">Nome do Evento</label>
            <input class="form-control" type="text" id="title" formControlName="nome" required>
            <div class="valid-feedback">Show!</div>
        </div>
        <p>Início</p>
        <div class="container">
            <div class="input-group mb-3">
                <div class="col pe-3">
                    <label class="form-label" for="initDate">Data</label>
                    <input class="form-control" type="date" id="initDate" formControlName="dataInit" required>
                </div>
                <div class="col">
                    <label class="form-label" for="initTime">Horário</label>
                    <input class="form-control" type="time" id="initTime" formControlName="horaInit" required>
                </div>
            </div>
        </div>
        <p>Fim</p>
        <div class="container">
            <div class="input-group mb-3">
                <div class="col pe-3">
                    <label class="form-label" for="endDate">Data</label>
                    <input class="form-control" type="date" id="endDate" formControlName="dataFim" required>
                </div>
                <div class="col">
                    <label class="form-label" for="endTime">Horário</label>
                    <input class="form-control" type="time" id="endTime" formControlName="horaFim" required>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Descrição</label>
            <textarea class="form-control" type="text" id="description" formControlName="descricao" ></textarea>
        </div>
        <button class="btn btn-primary mb-2">Editar Evento</button>
        <br>
    </form>
    <div class="mb-5">
        <a class="mb-5" routerLink="/">Voltar</a>
    </div> 
    
</div>