<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Calendário Token 2021</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">Página Inicial</a>
          <a class="nav-link" routerLink="events">Meus Eventos</a>
          <a class="nav-link" routerLink="new">Criar Evento</a>
        </div>
        <div class="navbar-nav ms-auto">
  
            <a class="nav-link" routerLink="login" *ngIf="!(logado | async)">Entrar</a>
            <a class="nav-link" routerLink="register" *ngIf="!(logado | async)">Registrar</a>
            <a class="nav-link" *ngIf="(logado | async)"> Pedro Mazo </a>
            <a class="nav-link" type="button" (click)="onLogout()" *ngIf="(logado | async)">Sair</a>
  
        </div>
      </div>
    </div>
  </nav>