<div class="body">
    <div class="container d-flex justify-content-center align-items-center pt-5 mb-5">
        <div class="login border border-dark px-5 py-5">
        <form class="validated-form" [formGroup]="formularioUser" (ngSubmit)="onLogin()">
            <div class="mb-3">
                <label class="form-label" for="username">Usuário</label>
                <input class="form-control" type="text" id="username" name="username" formControlName="user" required>
                <div class="valid-feedback">Show!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Senha</label>
                <input class="form-control" type="password" id="password" name="password" formControlName="senha" required>
                <div class="valid-feedback">Show!</div>
            </div>
            <button class="btn btn-success mt-5 w-100">Entrar!</button>
        </form>
        </div>
    </div>
</div>