.login {
    border-radius: 5%;
    background-color: white;
    
    }
    .body {
        height: 100vh;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0)),
        url("https://images.unsplash.com/photo-1506784983877-45594efa4cbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1948&q=80");
        text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
        background-size: cover;
    }