<div class="container pt-5">
    <h1> {{ event.nome }} </h1>
    <p> Data início: {{ event.dataInicio }} às {{ event.horaInicio }} </p>
    <p> Data Fim: {{ event.dataFim }} às {{ event.horaFim }} </p>
    <p>Descrição: {{ event.descricao }} </p>
    <div class="container">
        <form action="" #formu="ngForm" (ngSubmit)="onDelete(formu)" class="mb-2">
            <button class="btn btn-danger" >Delete</button>
            <a routerLink="/events/{{event.id}}/edit" class="btn btn-primary mx-2" >Editar</a>
        </form>
        <a routerLink="/events">Voltar</a>

    </div>
</div>