<h1 class="text-center">Criar Evento</h1>
<div class="col-md-6 offset-md-3 pb-5">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" > 
        <div class="mb-3">
            <label class="form-label" for="title">Nome do Evento</label>
            <input class="form-control" type="text" id="title" [(ngModel)]="evento.nome" name="event[eventName]" required>
            <div class="valid-feedback">Show!</div>
        </div>
        <p>Início</p>
        <div class="container">
            <div class="input-group mb-3">
                <div class="col pe-3">
                    <label class="form-label" for="initDate">Data</label>
                    <input class="form-control" type="date" [(ngModel)]="evento.dataInicio" id="initDate" name="event[initDate]" required>
                </div>
                <div class="col">
                    <label class="form-label" for="initTime">Horário</label>
                    <input class="form-control" type="time" [(ngModel)]="evento.horaInicio" id="initTime" name="event[initTime]" required>
                </div>
            </div>
        </div>
        <p>Fim</p>
        <div class="container">
            <div class="input-group mb-3">
                <div class="col pe-3">
                    <label class="form-label" for="endDate">Data</label>
                    <input class="form-control" type="date" [(ngModel)]="evento.dataFim" id="endDate" name="event[endDate]" required>
                </div>
                <div class="col">
                    <label class="form-label" for="endTime">Horário</label>
                    <input class="form-control" type="time" [(ngModel)]="evento.horaFim" id="endTime" name="event[endTime]" required>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Descrição</label>
            <textarea class="form-control" type="text" [(ngModel)]="evento.descricao" id="description" name="event[eventDescrip]" ></textarea>
        </div>
        <button class="btn btn-primary mb-2">Criar Evento</button>
        <br>
    </form>
    <div class="mb-5">
        <a class="mb-5" routerLink="/">Voltar</a>
    </div> 
    
</div>