#homePage {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)),
    url("https://images.unsplash.com/photo-1588453251771-cd919b362ed4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    background-size: cover;
}

h1, p {
    color: white;
    padding-left: 5%;
    text-shadow: 0 0.05rem 0.1rem rgba(250, 250, 250, 0.8);
}