<div class="body">
    <div class="container d-flex justify-content-center align-items-center pt-5 mb-5" id="homePage">
        <div class="login border border-dark px-5 py-5">
            <form [formGroup]="formularioUser" (ngSubmit)="onRegister()" class="validated-form">
                <p class="registering center">Faça parte do clube!</p>
                <div class="mb-3">
                    <label class="form-label" for="username">Usuário</label>
                    <input class="form-control" type="text" id="username" name="username" required formControlName="user">
                    <div class="valid-feedback">Show!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" required email formControlName="email">
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Senha</label>
                    <input class="form-control" type="password" id="password" name="password" required formControlName="senha">
                    <div class="valid-feedback">Show!</div>
                </div>
                <button class="btn btn-success w-100" [disabled]="!formularioUser.valid" >Registrar!</button>
            </form>
        </div>
    </div>
</div>